/* Color palette 
$pale-dogwood: #ebd4cbff;
$rosy-brown: #da9f93ff;
$light-sea-green: #2ec4b6ff;
$burgundy: #890620ff;
$black-bean: #2c0703ff;*/

/* Global styles */
html {
    box-sizing: border-box;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

h2,
h3,
hr,
p {
    margin: 0;
    padding: 0;
}

.content-wrap {
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
}

.title {
    padding-top: 26px;
    padding-bottom: 8px
}

/* Header */
header {
    background-color: #ebd4cbff;
    text-align: center;
}

.content h1 {
    font-size: 28px;
    font-family: 'Rock Salt', cursive;
}

.content h3 {
    font-size: 16px;
    text-transform: uppercase;
}

.profile {
    padding: 20px 0;
}

.profile p {
    margin: 12px 0;
    font-size: 14px;
    text-align: left;
    text-indent: 10%;
}

.profile-img {
    width: 250px;
    border-radius: 50%;
    border: 12px solid #2ec4b6ff
}

/* Work experience */
.work-experience {
    background-color: white;
    padding-bottom: 32px;
}

.job-title h3 {
    padding: 0;
}

.job-title p {
    font-size: 12px;
    font-weight: 300;
}

.job-title p:nth-of-type(2) {
    font-style: italic;
}

.job-item {
    margin: 18px 0;
}

.job-summary {
    margin-top: 18px;
}

.job-summary p,
ul {
    font-size: 14px;
}

/* Projects */
.projects {
    background-color: #2ec4b6ff;
    padding-bottom: 32px;
}

/* Education */
.education {
    background-color: #890620ff;
    color: whitesmoke;
    padding-bottom: 26px;
}

.education-item {
    margin: 24px auto;
}

.education-item p {
    font-size: 14px;
}

/* Contact */
.contact {
    background-color: #2c0703ff;
    color: whitesmoke;
    padding-bottom: 26px;
}

.contact .title {
    font-family: 'Rock Salt', cursive;
}

.contact-list {
    padding: 0;
    list-style-type: none;
}

.contact-list a {
    color: whitesmoke;
}

.contact-list li {
    padding-top: 6px;
    padding-bottom: 6px;
}

/** Responsiveness **/
@media screen and (min-width:750px) {

    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }

    .contact .title {
        text-align: center;
    }

    .contact-list a {
        padding: 14px;
    }

    .contact-list {
        padding: 6px;
        display: flex;
        justify-content: center;
    }
}